.open-sans-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.secondary-bg {
    background-color: #FFF8F3;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.nav-title {
    font-weight: 400;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;

}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

/* banner styles */
.banner-greetings {
    font-size: 45px;
    font-weight: 600;

}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pic {
    width: 580px;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    font-size: 50px;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;

}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.item-description {
    font-weight: 600;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 10px;
    box-shadow: 0px 6px 50px 0px rgb(219, 76, 76);
    border-radius: 5px;
}

/* resume sectioner styles */
.resume-container {
    display: flex;
    gap: 24px;
}

.experience-sub-title {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description,
.experience-sub-title {
    color: #757575;
}

.resume hr {
    margin: 30px 5px;
}

.resume-download-cv {
    margin-top: 50px;
}

footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

.social-links a {
    margin-right: 25px;

}